* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url('./background1.jpg');
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-header{
    background-color: rgba(73, 2, 2, 0.849);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -7px;
}
.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    

}
.content {
    
    margin-top: 80px;
}
.content h1{
    margin-left: 100px;
    font-size: clamp(24px, 4vw, 40px);
    text-align: center;
}

/* Navigation style */
.menuicon,.menuicon,.menuicon {
    width: 30px;
    height: 5px;
    background-color:white ;
    margin: 6px 0px;
}
.sidebar .container {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 85vh;
    margin-top: 70px;
    margin-left: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    align-items: center;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 1s;
    background: rgba(114, 2, 2, 0.603);
    box-shadow: 0px 20px 30px 15px rgba(9, 13, 61, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: sticky;
}
.sidebar .container .brand {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    margin: 10px 10px;
    align-items: center;
    justify-content: space-between;
}
.sidebar .container .brand h3 {
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}

.sidebar .container .brand a i {
    color: #d3cfcf;
    font-size: 30px;
}

.sidebar .container .navbar {
    display: flex;
    width: 90%;
    height: auto;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}

.sidebar .container .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    margin-right: 15px;
}

.sidebar .container .navbar ul li {
    height: 40px;
    width: 100%;
    margin: 15px 10px;

}

.sidebar .container .navbar ul li a {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-radius: 7px;
    align-items: center;
    justify-content: left;
}
.icon {
    width: 2rem;
}

.sidebar .add .navbar:nth-child(4) {
    margin: 0;
}

.sidebar .container .navbar ul li a {
    color: #ffff;
}

.sidebar .container .navbar ul li a span {
    font-size: 14px;
    font-weight: 300;
}

.sidebar .container .navbar ul li a i {
    display: flex;
    font-size: 20px;
    margin: 0 15px;
}
.sidebar .container .navbar ul li a:hover,
.sidebar .container .navbar ul li a:hover span,
.sidebar .container .navbar ul li a:hover i {
    background: #0c0b229d;
    backdrop-filter: blur(75px);
    /* color: #000; */
    transition: 0.5s all;

}

.sidebar .container .navbar ul li a:hover {
    box-shadow: 0 5px 5px #000;
    transition: 0.5s all;
}
.sidebar .container.active {
    width: 75px;
}

.sidebar .container.active .brand {
    justify-content: center;
}

.sidebar .container.active .navbar ul {
    width: 90%;
}

.sidebar .container.active .brand {
    width: 80%;
    height: 100%;
}

.sidebar .container.active .navbar ul li a {
    justify-content: center;
}
.sidebar .container.active .brand .logo,
.sidebar .container.active .brand h3,
.sidebar .container.active .navbar ul li a span,
.sidebar .container.active .user .name {
    display: none;
}



/* Scrollable */

/* Scrollable container style */
.scrollable-container {
    max-height: 500px; 
    overflow-y: auto;  
    padding: 10px; 
    max-width: 100%;
}

/* Table container style */
.table-container {
    width: 100%;
}

.table-container table {
    width: 100%; 
    border-collapse: collapse; 
}

.table-container th,
.table-container td {
    padding: 8px; 
    text-align: left;
    border-bottom: 1px solid #ddd; 
}

